
<div *ngIf="category">
    <h2><span jhiTranslate="allSportyNewsApp.category.detail.title">Category</span> {{category.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="allSportyNewsApp.category.title">Title</span></dt>
        <dd>
            <span>{{category.title}}</span>
        </dd>
        <dt><span jhiTranslate="allSportyNewsApp.category.description">Description</span></dt>
        <dd>
            <span>{{category.description}}</span>
        </dd>
        <dt><span jhiTranslate="allSportyNewsApp.category.imagen">Imagen</span></dt>
        <dd>
            <div *ngIf="category.imagen">
                <a (click)="openFile(category.imagenContentType, category.imagen)" jhiTranslate="entity.action.open">open</a>
                {{category.imagenContentType}}, {{byteSize(category.imagen)}}
            </div>
        </dd>
        <dt><span jhiTranslate="allSportyNewsApp.category.author">Author</span></dt>
        <dd>
            {{category.author?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'category/'+ category.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
