
<div *ngIf="points">
    <h2><span jhiTranslate="allSportyNewsApp.points.detail.title">Points</span> {{points.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="allSportyNewsApp.points.person">Person</span></dt>
        <dd>
            {{points.person?.id}}
        </dd>
        <dt><span jhiTranslate="allSportyNewsApp.points.message">Message</span></dt>
        <dd>
            <div *ngIf="points.message">
                <a [routerLink]="['/message', points.message?.id]">{{points.message?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'points/'+ points.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
