<div class="row">
	<div class="col-md-3">
		<span class="hipster img-fluid rounded"></span>
	</div>
	<div class="col-md-9">
		<h1 class="display-4" jhiTranslate="home.title">BienvenidoWelcome, Java
			Hipster!</h1>
		<p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

		<div [ngSwitch]="isAuthenticated()">
			<div class="alert alert-success" *ngSwitchCase="true">
				<span *ngIf="account" jhiTranslate="home.logged.message"
					translateValues="{username: '{{account.login}}'}"> You are
					logged in as user "{{account.login}}". </span>
			</div>

			<div class="alert alert-warning" *ngSwitchCase="false">
				<span jhiTranslate="global.messages.info.authenticated.prefix">If
					you want to </span> <a class="alert-link" (click)="login()"
					jhiTranslate="global.messages.info.authenticated.link">sign in</a><span
					jhiTranslate="global.messages.info.authenticated.suffix">,
					you can try the default accounts:<br />- Administrator
					(login="admin" and password="admin") <br />- User (login="user" and
					password="user").
				</span>
			</div>
			<div class="alert alert-warning" *ngSwitchCase="false">
				<span jhiTranslate="global.messages.info.register.noaccount">You
					don't have an account yet?</span> <a class="alert-link"
					routerLink="register"
					jhiTranslate="global.messages.info.register.link">Register a
					new account</a>
			</div>
		</div>
		<div class="alert alert-warning" >
				<span jhiTranslate="home.usuarios">You
					don't have an account yet?</span> 
			</div>


		<div class="row">
			<div class="col-md-11">
				<ngb-progressbar max="21" [value]="pointsThisWeek.points"
					[striped]="true" [hidden]="!pointsThisWeek.points">
				<span *ngIf="pointsThisWeek.points">
					{{pointsThisWeek.points}} / Goal: 10 </span> </ngb-progressbar>
				<ngb-alert [dismissible]="false" [hidden]="pointsThisWeek.points">
				<!-- 				<span jhiTranslate="home.points.getMoving"> --> 
				<!-- 					No points yet this week, better get moving!</span> -->
				</ngb-alert>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-11">
				<span *ngIf="pointsperweek.points">
				pointsperweek.points {{pointsperweek.points}}<br>
				pointsperweek.week {{pointsperweek.week}}<br>
				pointsperweek.fecha {{pointsperweek.fecha}}<br>
				pointsperweek.week {{pointsperweek.week}}<br>
				<ngb-alert [dismissible]="false" [hidden]="pointsperweek.points">
				pointsperweek.points {{pointsperweek.points}}<br>
				pointsperweek.week {{pointsperweek.week}}<br>
				pointsperweek.fecha {{pointsperweek.fecha}}<br>
				pointsperweek.week {{pointsperweek.week}}<br>
				 <!-- 				<span jhiTranslate="home.points.getMoving"> -->
				<!-- 					No points yet this week, better get moving!</span> --> </ngb-alert>
			</div>
		</div>
		

		
	</div>
</div>
